section{
    width: 1800px;
    height: 600px;
    background-color: darkred;
   }
   article{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blue;
    float: left;
   } 