section{
    width: 1800px;
    height: 600px;
    background-color: darkred;
   }
   article{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(182, 24, 245);
    float: left;
   } 
   article:nth-child(1), article:nth-child(2){
    background-color: yellow;
   }